.bg-stripes {
    background-color: #f3f4f6;
    background-image: linear-gradient(135deg, #e5e7eb 25%, transparent 25%, transparent 50%, #e5e7eb 50%, #e5e7eb 75%, transparent 75%, transparent) !important;
    background-size: 10px 10px;
}