
#form-connexion {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

input[type="text"],
select,
input[type="password"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}


input[type="submit"] {
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #4f46e5;
}

.styled-button {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

h1 {
    font-weight: bold;
}

#form-generer {
  max-width: 100%;
  margin: 60px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
input[type="number"] {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.cacher_form2 input [type="number"] {
  width: 10%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.styled-button {
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.groupe {
    display: flex;
    gap: 10px;
    flex : 1;
}

.groupe1 {
  margin: 20px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  flex : 1;
  margin : auto;
  position: relative;
}

.groupe11 {
  margin: 20px auto;
  padding: 30px;
  flex : 1;
  margin : auto;
}

#hid {
    display: none;
}

.bg-stripes {
    background: repeating-linear-gradient(
        45deg,
        #dcfce7,       /* Vert très clair (green-100) */
        #dcfce7 6px,   /* Largeur de la bande verte */
        #f0fdf4 6px,   /* Vert encore plus clair ou blanc (green-50) */
        #f0fdf4 12px   /* Largeur totale du motif */
    );
    border-left: 1px solid #bbf7d0; /* Petite bordure pour délimiter les jours */
}